<header mat-dialog-title class="customer-service-dialog__header">
  <h2 *ngIf="selectedAttendant$ | async as selectedStudant; else defaultTitle">
    {{ selectedStudant.name }}
  </h2>
  <ng-template #defaultTitle>
    <h2>Select an Attendant</h2>
  </ng-template>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</header>

<mat-dialog-content class="customer-service-dialog__content">
  <app-attendant-list
    *ngIf="!(selectedAttendant$ | async)"
    [attendants]="attendants$ | async"
  ></app-attendant-list>

  <app-message-list [messages]="messages$ | async"></app-message-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button color="primary" mat-raised-button mat-dialog-close>OK</button>
</mat-dialog-actions>
