@import "@angular/material/theming";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Custom styles for the dialog header
.mdc-dialog__title {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Material Design shadow */
  min-height: 4rem;
}
